header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 20px;
    flex: 1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
  }
  
  nav a:hover {
    background-color: #f0c869;
    transform: translateY(-3px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  ul li img:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  li {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  li img {
    display: block;
    border: 2px solid #f0c869;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  li h3 {
    margin: 10px 0;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  li p {
    font-size: 16px;
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.2;
  }
  
  footer {
    background-color: #f0c869;
    color: #333;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #333;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 130px;
  }
  